<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" style= "margin-bottom: 15px;">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item pull-right">
            <a class="nav-link" routerLink="/cart"><i class="fas fa-shopping-cart"></i> Cart</a>
          </li>
      </ul>
    </div>
  </div>

<router-outlet></router-outlet>